._iz-slider-container {
    overflow: hidden;
    position: relative;
}

._iz-slider-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

._iz-slider-slide-grow {
    flex-grow: 1;
}

._iz-slider-wrapper-no-user-select {
    user-select: none;
}
